html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: left;
}

#hide-listings,
#show-listings {
  width: 100%;
}

#map {
  bottom:0px;
  height: 100%;
  width:75%;
  position: absolute;
  right: 0px;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 0 30px 0;
  text-align: left;
  width: 25%;
}

.list-text {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 1em;
}
#research-text {
  width: 20%;
}

#research-input {
  width: 2,5%;
}
